{% extends 'base.html.twig' %}

{% block main %}

<div class="container" style="margin-top: 50px;margin-bottom: 50px;">
  <div class="row">
    <div id="carouselExampleIndicators" class="carousel slide col-12" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div id="food"></div>
        </div>

        <div class="carousel-item">
          <div id="clean"></div>
        </div>

        <div class="carousel-item">
          <div id="beauty"></div>
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>


<h1 class="text-center">Les Nouveautés :</h1>
<div class="container" style="margin-bottom: 150px;">
<div class="row mb-1">


  {% for row in products %}

  <div class="col-xl-3 col-md-6">
  <div class="card">
    <img class="card-img-top" src="{{imageURI}}/{{row.image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{row.name}}</h5>
      <p class="card-text">{{row.description}}</p>
      <a href="{{ path('show_product', {'id': row.id}) }}" class="btn btn-primary">More..</a>
    </div>
  </div>

</div>
 

  {% endfor %}
</div>
</div>
{% endblock main %}