{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block main %}

{{ form_start(categoryForm) }}

{{ form_row(categoryForm.name, {"attr": {"placeholder": "name of category"}}) }}

<button type="submit" class="btn btn-danger">
    {% if editMode %}
    edit category
    {% else %}
    add category
    {% endif %}
</button>

{# <a href="{{path('remove_category', {'id': categoryForm.id})}}"> <button class="btn btn-sucess">Delete category</button></a> #}

{{ form_end(categoryForm) }}

{% endblock main %}
