{% extends 'base.html.twig' %}

{% block title %}Mes articles beauty{% endblock %}

{% block main %}

<div class="container-fluid">  
<div class="row">
 {% for product in products %}
 <div class="card-group mx-auto" style="width:300px;height:200px;">
  <img id="toto" class="card-img-top" src="{{imageURI}}/{{product.image}}">
  <div class="card-body">
    <h5 class="card-title text-center">{{product.name}}</h5>
    <p class="card-text text-right">{{product.price}},00€</p>
    <div class="text-center">
    <a href="{{ path('show_product', {'id': product.id}) }}" class="btn btn-success center-block">Voir Produit</a>
  </div>
</div>
  </div>
  {% endfor %}

</div>
</div>


{% endblock main %}


