.body{
  background-color: gainsboro;
}
.card-body {
  display: flex;
  flex-direction: column;
  text-align: center;
}
a {
  margin: 5px;
}
.input-email{
  display: flex;
flex-direction: column;
margin-bottom: 15px;
}

.input-password{
  display: flex;
flex-direction: column;
margin-bottom: 15px;
}

.sign-up{
  text-align: center;
 margin-top: 22px;
}
.link-inscription{
background: bisque;
padding: 11px;
border-radius: 31px;
}

.link-inscription:link{
 color: rgb(207, 145, 64);
  text-decoration: none;
}

.link-inscription:hover{
  color: chocolate;
}

.link-inscription:visited{
  color: rgb(77, 66, 58);
}

/*                                          BUTTONS HEADER               */
.link:hover{
  text-decoration: none;
  color: black;
}

.link:visited{
  text-decoration: none;
  color: black;
}

.link:link{
  text-decoration: none;
  color: black;
}

.categories{
  word-spacing: 27px;
 margin-bottom: 0;
  font-family: 'Amatic SC', cursive;
  font-size: 33px;
  text-decoration: none;
  display: inline;
}

.title{
  font-family: 'Monoton', cursive;
  color: #ffd9a6;
}

.title:link, .title:hover{
  text-decoration: none;
  color: #ffd9a6;
}

#bg-info {
  background-color: #e98d69;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.icons{
  display: flex;
justify-content: end;
font-size: 29px;
color: white;
}

.icon-base{
  text-decoration: none;
  color: white;
}
.icon-base:hover{
  text-decoration: none;
  color: rgb(238, 235, 60);
}

.icon-base:visited{
  text-decoration: none;
  color: white;
}

/*          END BUTTONS HEADER */

/*                                       SHOW ARTICLE                                */
.price{
  display: flex;
justify-content: start;
flex-direction: column-reverse;
}

#toto{
  width:300px;
  height:200px;
  margin-top: 10px;
}


/*                      ARTICLE HOME                 */
.card-img-top{
  height: 225px;
}

/*          caroussel       */
#food {
  height: 60vh;
  background: url('../img/divers.jpg') no-repeat center ;
  background-size: cover;
  
}
#beauty {
  height: 60vh;
  background: url('../img/dattes.jpg') no-repeat center ;
  background-size: cover;
  

}
#clean {
  height: 60vh;
  background: url('../img/melangefruitsecs.jpg') no-repeat center ;
  background-size: cover;
  
}

/* footer */

footer.container {
  background-color: #e98d69;
}

.nav-footer {
  text-align: center;
}

.nav-footer li {
  display: inline-flex;
  list-style: none;
}

.nav-footer li p {
  margin: 0px;
}
.fab{
  color: white;
}
.nav-link:hover{
  color: yellow;
}
