{% extends 'base.html.twig' %}



{% block main %}
{{ form_start(form) }}
{{ form_widget(form) }}

<button type="submit" class="btn btn-secondary">
    {% if editMode %}
    edit product
    {% else %}
    Add product
    {% endif %}
</button>
{{ form_end(form) }}

{% endblock %}
