
{% extends 'base.html.twig' %}

{% block main %}

<section class="container-fluid">
  <h1 >{{product.name}}</h1>
  <div class="row">
        

        <img src="{{imageURI}}/{{product.image}}" class="rounded float-left img-thumbnail" style="width:690px;height: 400px;" >

        <p>{{product.description}}</p>
<div class="price">
     <p>price:{{product.price}}.00$</p>
</div>
</div>

<button class="btn btn-success">Add to card</button>

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<a href="{{ path('edit_product', {'id': product.id}) }}" class="btn btn-warning">Edit product</a>

<a href="{{ path('remove_product', {'id': product.id}) }}" class="btn btn-danger">Remove product</a>
{% endif %}
</section>
{% endblock main %}