{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %} 

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <h1>Create your account:</h1>
            {{ form_start(form) }} {{ form_widget(form) }}
            <button class="btn btn-primary">Submit</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}