{% extends 'base.html.twig' %} {% block title %}Connection{% endblock %} {% block main %} {% if error %}
<p>{{error.message}}</p>
{% endif %}

<div class="container-fluid">
    <div class="row">
<h1 class="offset-2" style="margin-top : 22px;">Login:</h1>
</div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <form action="{{path('connection')}}" method="POST">
                <div class="input-email">
                    <label> Email:</label>
                    <input type="email" name="_username" value="{{lastEmail}}">
                </div>

                <div class="input-password">
                    <label> Password:</label>
                    <input type="password" name="_password"> {#
                    <input type="hidden" name="_target_path" value="{{path('add_cat')}}"> POUR REDIRIGER VERS UNE AUTRE PAGE QUE LE HOME#}
                </div>
                <div class="text-center">
                <button class="btn btn-primary center-block">Login</button>
        </div>


<div class="sign-up">
<p> You don't have an account?</p>

<p><a class="link-inscription" href="{{path('inscription')}}"> Sign up</a></p>
</div>
    </div>
    </div>
</div>





</form>
{% endblock %}